@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

body {
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #0079FE
}
/*Typography*/
code {
  display: block;
  color: #00D4BB;
  font-size: 16px;
}
h1, .h1 {
  font-weight: 600;
}
h2, .h2 {
  color: #00D4BB;
  font-weight: 600;
}
h3, .h3 {
  color: #666;
  font-weight: 600;
}
h4, .h4 {
  font-size: 1.1rem;
  color: #111;
  font-weight: 700;
}
h5, .h5 {
  
}
h6, .h6 {
  
}
header .h1 {
  font-size: 1rem;
}
/*Header*/
header {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  z-index: 9999;
}

/*Body*/

.border-left {
  border-left: 1px solid #DDD;
}
pre[class*="language-"] {
  background: #f9f9f9;
  border: 1px solid #f3f3f4;
  border-radius: .25rem;
  display: block;
  font-family: monospace;
  line-height: 28.8px;
  margin-bottom: 2em;
  margin-top: 2em;
  overflow: auto;
  padding: 28.8px 40px;
  white-space: pre;
  width: 100%;
}
.main_content {
  padding: 2em .5em;
}

/*Footer*/
footer {
  background-color: #150c43;
}